<?xml version="1.0"?>
<robot name="follower" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="robot" params="prefix">
        <!-- Base -->
        <xacro:include filename="$(find follower_description)/urdf/pioneer3at.urdf.xacro" />
        <xacro:pioneer3at prefix="${prefix}" />

        <!-- Sensors -->
        <xacro:include filename="$(find follower_description)/urdf/realsense_d435.urdf.xacro" />
        <xacro:sensor_d435 name="${prefix}/camera" topics_ns="${prefix}/camera" parent="${prefix}/base_link" publish_pointcloud="true">
            <origin xyz="0 0 0.5" rpy="0 0 0" />
        </xacro:sensor_d435>  
    </xacro:macro>

    <!-- Create the robot -->
    <xacro:robot prefix="tulio" />

</robot>