[submodule "realsense_gazebo_plugin"]
	path = realsense_gazebo_plugin
	url = https://github.com/pal-robotics/realsense_gazebo_plugin
[submodule "gazebo-ros-actor-plugin"]
	path = gazebo-ros-actor-plugin
	url = https://github.com/blackcoffeerobotics/gazebo-ros-actor-plugin
