<launch>

    <arg name="world_name" default="empty"/>
    <arg name="gazebo_gui" default="true"/>

    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find follower_gazebo)/worlds/$(arg world_name).world"/>
        <arg name="gui" value="$(arg gazebo_gui)"/>
    </include>

    <!-- Spawn the robot -->
    <include file="$(find follower_description)/launch/follower.launch">
        <arg name="x" value="-2.0"/>
        <arg name="y" value="0.0"/>
        <arg name="z" value="0.2"/>
    </include>

    <!-- Launch vision -->
    <!-- <include file="$(find ultralytics_ros)/launch/tracker.launch">
        <arg name="input_topic" default="/tulio/camera/color/image_raw"/>
    </include> -->

    <rosparam file="$(find follower_description)/config/config.yaml" command="load" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" args="head_joint_position_controller joint_state_controller"/> 
    <!-- converts joint states to TF transforms -->
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/tulio/joint_states" />
    </node> -->

    <!-- Rviz -->
    <include file="$(find follower_rviz)/launch/rviz.launch"/>

</launch>